<div class="col">
  <div class="card h-100 shadow-lg border-0 rounded-4 p-2">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <h5 class="card-title mb-2">
        <%= link_to t("lists.index.new"), new_list_path, data: { turbo_frame: "new_list_card" }, class: "text-decoration-none text-dark" %>
      </h5>
      <p class="card-text text-muted small"><%= t("lists.index.create_new_list_description") %></p>
    </div>
  </div>
</div>
