<turbo-frame id="task_card_<%= @task.id %>">
  <h5><%= t("tasks.form.edit") %></h5>
  <%= render "form", list: @list, task: @task %>
  <%= link_to t("lists.show.back"), list_path(@list), data: { turbo_frame: "list_card_#{@list.id}" } %>
</turbo-frame>
